* {
    main-bg:            #3D3C44B3;
    main-fg:            #D2CCFFE6;
    main-br:            #B28289E6;
    main-ex:            #76C1D1E6;
    select-bg:          #BFAAF080;
    select-fg:          #352952E6;
}
